* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  text-shadow: 0px 1px 8px rgba(243, 17, 17, 0.651);
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h4 {

  font-weight: 200;
}

.contents1 {
  font-size: 20px;
  font-weight: 400;
}

.contents1_bold {
  font-size: 18px;
  font-weight: bold;
}

.contents2 {
  font-size: 16px;
  font-weight: 200;
}

.contents3 {
  font-size: 16px;
  font-weight: 100;
}

.result {
  font-size: 18px;
  font-weight: 100;
}


/*공통요소--------------------------------------------------------------*/




.intro_bg {
  background-image: url("image/tomato_1.png");
  width: cover;
  background-repeat: no-repeat;
 
  height: 718px;
  width: 100%;
  
  background-size: cover;
}

.header {
  display: flex;
  width: 1280px;
  height: 86px;
  margin: auto;

}

.searcharea {
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 24px;
  margin-left: 10px;
}

.searcharea>form>input {
  border: 0;

  width: 250px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  padding-left: 10px;
  color: #fff;

}

.searcharea>form>span {
  width: 50px;
  color: #fff;

  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: calc(1280px - 300px);
  line-height: 86px;
  position: absolute;
  right: 32px;
  margin: auto;


}

.nav>li {
  margin-left: 84px;
}

.nav>li>a {
  color: #fff;
}

/*반응형 헤더------------------------------------------------------*/



@media screen and (max-width: 850px) {


  .amount>li {
    display: none;
  }

  .nav_toogleBtn>div>i {
    display: block;
    position: absolute;
    right: 32px;
    top: 33px;
    font-size: 24px;
    color: rgb(255, 255, 255);
  }


  .nav {
    background-color: rgb(29, 28, 28);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 400px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    left: 0px;
    vertical-align: middle;
    border: none;
    display: none;

  }

  .nav>li>a:hover {
    color: #ff1100;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 10px;
    text-align: center;
  }

  .nav.active {
    display: flex;
  }

  .contents2 {
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    align-items: center;
    

  }

  .contents2>div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    margin: 10px auto;

  }

  .main_text2 {
    display: flex;
    flex-wrap: wrap;
    vertical-align: left;
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    margin-top: 400px;


  }

  .main_text2>ul>li {
    margin-bottom: 110px;
  }


}

@media screen and (min-width: 850px) {
  .nav_toogleBtn>div>i {
    display: none;

  }
}


/*반응형 헤더------------------------------------------------------*/
.amount {
  position: relative;
  top: -66px;
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.amount>li {
  flex: 1;
  height: 132px;

}

.amount>li>div {
  text-align: center;
  height: 57px;
  margin-top: 37px;
}

.amount>li:not(:last-child)>div {
  border-right: 1px solid #E1E1E1;
}


.intro_text {
  width: 100%;
  margin: 231px auto 231px auto;
  /*상우하좌 순임*/

  text-align: center;
}




.intro_text>h1,
.intro_text>h2,
.intro_text>h4 {
  color: #fff;
}

/*main text*/

.main_text0 {
  display: flex;
  margin: auto;
  padding: auto;
  flex-wrap: wrap;
  width: 100%;
  height: 700px;
  margin-top: -133px;
  background: #f1f2f3;
  box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.2);
}

.main_text0>h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 116px;
  text-align: center;

}

.main_text0>.contents1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 0;

  text-align: center;
}

.icons {

  display: flex;
  justify-content: center;
  width: 1280px;
  height: 302px;
  margin: auto;
  margin-top: 49px;
  margin-bottom: 50px;
}

.icons>li {

  flex: 1;
  background: white;
  margin-top: 30px;
  height: 302px;
  text-align: center;
}

.icons>li>.icon_img {
  margin-top: 18px;
}

.icons>li:not(:last-child) {
  margin-right: 20px;
}

.icons .contents2 {
  width: 170px;
  margin: auto;
  letter-spacing: -1px;
}

.more {
  width: 100px;
  height: 30;
  background-color: #e40f00;
  color: #fff;
  margin: 24px auto;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;

}

.more:hover {
  background-color: rgb(182, 1, 1);
}

.more>button {
  width: 100px;
  height: 30;
  border: 0;

  background: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.main_text1>h2 {
  padding-top: 116px;
  padding-bottom: 13px;
  text-align: center;

}

.main_text1>.contents1 {
  text-align: center;
}


.service {
  width: 1280px;
  display: flex;
  margin: 49px auto;
  height: 600px;
  display: flex;
  flex-wrap: wrap;


}

.service>.contents2 {
  padding: 20px;
}

.main_text2 {
  width: 100%;
  height: 418px;
  background-image: url("image/tomato_3.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.main_text2>ul {

  padding-top: 138px;
}

.main_text2>ul>li {
  flex: 1;
  text-align: center;
}

.main_text2>ul>li>div>h1,
.main_text2>ul>li>div {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.more2 {
  width: 220px;
  height: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  line-height: 40px;
  margin: 16px auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.473);
}

.more2>button {
  width: 220px;
  height: 40px;
  border: 0;
  background: none;
  color: #fff;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}


footer {

  display: flex;
  background: rgb(33, 33, 34);
  padding: 30px;
}

footer>div:first-child {
  text-align: center;
  flex: 3;
  color: #fff;

}

footer>div:last-child {
  flex: 9;
  color: rgb(160, 160, 160);

}