@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");


* {
  margin: 0;
  padding: 0;
}


body {
  background-image: url(tomato.jpg);
  backdrop-filter: blur(10px);
  background-position: center;
  background-size: cover;
  display: grid;
  font-family: "Inconsolata", monospace;
  min-height: 100vh;
  place-items: center;
}


.popup{
  margin: auto;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  margin-top: 200px;

}



.paybtn {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-column-gap: 100px;
  grid-row-gap: 5px;
  grid-row: 2, 50px;
  padding: 10px;
  position: absolute;
  top: 72%;
  left: 50%;
  
 
}


.holder {
  background: rgba(0, 0, 0, 0.651);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 200px;
  width: 300px;
  padding: 10px auto;
  margin: 0 auto;
  margin-bottom: 70%;
  
}

.paybtn>a>input {
  border-radius: 10px;
  background: linear-gradient(145deg, #f3eded, #fff9f9);
  box-shadow: 5px 5px 11px #7572726c,
    -5px -5px 11px #ffffff59;
  color: rgb(31, 31, 31);
  font-weight: bold;
  border-radius: 10px;
  width: 80px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  transform: translate(50%, 0);
  border: 0;
 
}

.paybtn>a>input:hover {


  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 11px #afafaf,
    inset -5px -5px 11px #ffffff;
}

.card__text {
  color: rgb(255, 255, 255);
  margin: 20px auto;
  margin-left: 12px;
  text-align: left;
  font-size: 1.5rem;

}

.card>svg {
  color: #fff9f9;
  margin: auto;
  margin-left: 12px;
  margin-top: 74px;
}




.snow {
  position: absolute;
  min-width: 100%;


  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 10s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 20s infinite linear;
}

@keyframes fall {

  100% {
    transform: translateY(0);
  }

}
